.custom-colored-h1 {
    margin-top: 100px;
    color: #4D70FF;
    font-size: 30px;
    font-weight: 800;
    font-family: "Nunito";
    text-align: "center";
  }
  
  .custom-description {
    margin-top: 100px;
    color: black;
    font-size: 24px;
    font-weight: 500;
    font-family: "Nunito";
    text-align: "center";
  }

  .cart-button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: black;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px rgb(0, 0, 0);
  }